In [3]:
import pandas as pd
years = [18, 19, 20, 21, 22, 23, 24, 25]
headers = [
    "transaction_id",
    "price",
    "date_of_transfer",
    "postcode",
    "property_type",
    "new_build_flag",
    "tenure_type",
    "primary_addressable_object_name",
    "secondary_addressable_object_name",
    "street",
    "locality",
    "town_city",
    "district",
    "county",
    "ppd_category_type",
    "record_status"
]
drop = [
    "transaction_id",
    "primary_addressable_object_name",
    "secondary_addressable_object_name",
    "street",
    "locality",
    "ppd_category_type",
    "record_status"
]
dfs = {}
for year in years:
    url = f"http://prod.publicdata.landregistry.gov.uk.s3-website-eu-west-1.amazonaws.com/pp-20{year}.csv"
    df = pd.read_csv(url)
    df.columns = headers
    df = df.drop(columns=drop)
    dfs[f"df20{year}"] = df
    print(f"{year} done")
dfs

18 done
19 done
20 done
21 done
22 done

C:\Users\lenovo\AppData\Local\Temp\ipykernel_7788\2815900718.py:33: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

23 done
24 done
25 done

{'df2018':           price  date_of_transfer  postcode property_type new_build_flag  \
 0        253500  2018-09-24 00:00    M6 8GQ             D              N
 1        231950  2018-09-28 00:00   WA3 2UE             D              Y
 2        112500  2018-08-29 00:00   OL6 6RJ             S              N
 3        184995  2018-06-15 00:00   M46 0TW             S              Y
 4        214995  2018-09-28 00:00   M28 3XS             D              Y
 ...         ...               ...       ...           ...            ...
 1037248  100000  2018-11-16 00:00   DH4 7HW             T              N
 1037249  334950  2018-11-30 00:00  NE31 1BF             D              Y
 1037250  106010  2018-12-12 00:00   NE2 1NY             F              N
 1037251  144995  2018-07-26 00:00  NE27 0JA             T              Y
 1037252  334950  2018-07-13 00:00  NE15 9BW             D              Y

         tenure_type            town_city             district  \
 0                 F              SALFORD              SALFORD
 1                 F           WARRINGTON                WIGAN
 2                 F    ASHTON-UNDER-LYNE             TAMESIDE
 3                 F           MANCHESTER                WIGAN
 4                 L           MANCHESTER              SALFORD
 ...             ...                  ...                  ...
 1037248           F   HOUGHTON LE SPRING           SUNDERLAND
 1037249           F              HEBBURN       SOUTH TYNESIDE
 1037250           L  NEWCASTLE UPON TYNE  NEWCASTLE UPON TYNE
 1037251           F  NEWCASTLE UPON TYNE       NORTH TYNESIDE
 1037252           F  NEWCASTLE UPON TYNE  NEWCASTLE UPON TYNE

                      county
 0        GREATER MANCHESTER
 1        GREATER MANCHESTER
 2        GREATER MANCHESTER
 3        GREATER MANCHESTER
 4        GREATER MANCHESTER
 ...                     ...
 1037248       TYNE AND WEAR
 1037249       TYNE AND WEAR
 1037250       TYNE AND WEAR
 1037251       TYNE AND WEAR
 1037252       TYNE AND WEAR

 [1037253 rows x 9 columns],
 'df2019':            price  date_of_transfer  postcode property_type new_build_flag  \
 0         116000  2019-06-07 00:00    L9 1DZ             T              N
 1          60000  2019-05-23 00:00    L4 0RS             T              N
 2         192000  2019-05-24 00:00   WA3 1EP             D              N
 3         166000  2019-06-07 00:00   PR1 0YA             S              N
 4         135000  2019-05-03 00:00    L7 8RU             T              N
 ...          ...               ...       ...           ...            ...
 1011548   680000  2019-12-20 00:00   CR2 7LA             D              N
 1011549   635000  2019-09-02 00:00   CR0 1JS             S              N
 1011550   333000  2019-12-20 00:00  KT15 2PX             S              N
 1011551  1590430  2019-11-16 00:00   CR3 7DD             D              N
 1011552   585000  2019-12-19 00:00   KT4 8NP             T              N

         tenure_type       town_city      district              county
 0                 F       LIVERPOOL     LIVERPOOL          MERSEYSIDE
 1                 F       LIVERPOOL     LIVERPOOL          MERSEYSIDE
 2                 L      WARRINGTON         WIGAN  GREATER MANCHESTER
 3                 F         PRESTON  SOUTH RIBBLE          LANCASHIRE
 4                 F       LIVERPOOL     LIVERPOOL          MERSEYSIDE
 ...             ...             ...           ...                 ...
 1011548           F   SOUTH CROYDON       CROYDON      GREATER LONDON
 1011549           F         CROYDON       CROYDON      GREATER LONDON
 1011550           F      ADDLESTONE     RUNNYMEDE              SURREY
 1011551           F        CATERHAM     TANDRIDGE              SURREY
 1011552           F  WORCESTER PARK        SUTTON      GREATER LONDON

 [1011553 rows x 9 columns],
 'df2020':          price  date_of_transfer  postcode property_type new_build_flag  \
 0       500000  2020-11-27 00:00  IP13 9FG             D              N
 1       142000  2020-12-07 00:00  IP28 7JL             F              N
 2       142000  2020-11-27 00:00  IP33 3SH             F              N
 3       175000  2020-11-09 00:00  NR33 7HR             T              N
 4       245000  2020-12-18 00:00   IP5 1LY             S              N
 ...        ...               ...       ...           ...            ...
 895993  239995  2020-01-10 00:00   IP8 4HT             T              N
 895994  300000  2020-01-10 00:00   IP6 8ES             D              N
 895995  225000  2020-01-06 00:00  IP29 5AD             S              N
 895996  205000  2020-01-03 00:00  NR33 7QY             S              N
 895997  185000  2020-01-17 00:00  IP12 2HR             T              N

        tenure_type        town_city      district   county
 0                F       WOODBRIDGE  EAST SUFFOLK  SUFFOLK
 1                L  BURY ST EDMUNDS  WEST SUFFOLK  SUFFOLK
 2                L  BURY ST EDMUNDS  WEST SUFFOLK  SUFFOLK
 3                F        LOWESTOFT  EAST SUFFOLK  SUFFOLK
 4                F          IPSWICH  EAST SUFFOLK  SUFFOLK
 ...            ...              ...           ...      ...
 895993           F          IPSWICH   MID SUFFOLK  SUFFOLK
 895994           F          IPSWICH   MID SUFFOLK  SUFFOLK
 895995           F  BURY ST EDMUNDS  WEST SUFFOLK  SUFFOLK
 895996           F        LOWESTOFT  EAST SUFFOLK  SUFFOLK
 895997           F       WOODBRIDGE  EAST SUFFOLK  SUFFOLK

 [895998 rows x 9 columns],
 'df2021':           price  date_of_transfer  postcode property_type new_build_flag  \
 0        477000  2021-05-10 00:00  BN16 2PQ             D              N
 1        370000  2021-05-06 00:00   BN2 4HZ             T              N
 2        462500  2021-04-28 00:00   BN2 0GP             T              N
 3        433000  2021-08-06 00:00   BN8 4LS             D              N
 4        676000  2021-08-05 00:00   BN1 6NB             T              N
 ...         ...               ...       ...           ...            ...
 1278710  158000  2021-12-17 00:00   NN2 7RA             T              N
 1278711  105000  2021-05-26 00:00  NN11 9AU             F              N
 1278712  239000  2021-10-05 00:00   NN1 3JE             T              N
 1278713  190000  2021-09-08 00:00  NN18 8QS             T              N
 1278714  210000  2021-10-05 00:00   NN1 3RN             T              N

         tenure_type      town_city                district  \
 0                 F  LITTLEHAMPTON                    ARUN
 1                 F       BRIGHTON       BRIGHTON AND HOVE
 2                 F       BRIGHTON       BRIGHTON AND HOVE
 3                 F          LEWES                   LEWES
 4                 F       BRIGHTON       BRIGHTON AND HOVE
 ...             ...            ...                     ...
 1278710           F    NORTHAMPTON   WEST NORTHAMPTONSHIRE
 1278711           L       DAVENTRY   WEST NORTHAMPTONSHIRE
 1278712           F    NORTHAMPTON   WEST NORTHAMPTONSHIRE
 1278713           F          CORBY  NORTH NORTHAMPTONSHIRE
 1278714           F    NORTHAMPTON   WEST NORTHAMPTONSHIRE

                          county
 0                   WEST SUSSEX
 1             BRIGHTON AND HOVE
 2             BRIGHTON AND HOVE
 3                   EAST SUSSEX
 4             BRIGHTON AND HOVE
 ...                         ...
 1278710   WEST NORTHAMPTONSHIRE
 1278711   WEST NORTHAMPTONSHIRE
 1278712   WEST NORTHAMPTONSHIRE
 1278713  NORTH NORTHAMPTONSHIRE
 1278714   WEST NORTHAMPTONSHIRE

 [1278715 rows x 9 columns],
 'df2022':           price  date_of_transfer  postcode property_type new_build_flag  \
 0        357000  2022-05-27 00:00   LU7 3QS             S              Y
 1        372950  2022-04-28 00:00   LU5 6TD             S              Y
 2        570000  2022-05-31 00:00  SG18 9RF             D              Y
 3        570000  2022-05-27 00:00   LU7 3QS             D              Y
 4        400500  2022-04-01 00:00   LU7 3FZ             S              Y
 ...         ...               ...       ...           ...            ...
 1071636  166500  2022-07-29 00:00   NG4 2NS             T              N
 1071637  595000  2022-07-08 00:00  LE14 3BQ             D              N
 1071638  260000  2022-03-15 00:00   NG9 5LF             S              N
 1071639  250000  2022-07-19 00:00   NG5 8FZ             D              N
 1071640  166000  2022-07-21 00:00  NG15 7EE             S              N

         tenure_type         town_city              district  \
 0                 F  LEIGHTON BUZZARD  CENTRAL BEDFORDSHIRE
 1                 F         DUNSTABLE  CENTRAL BEDFORDSHIRE
 2                 F       BIGGLESWADE  CENTRAL BEDFORDSHIRE
 3                 F  LEIGHTON BUZZARD  CENTRAL BEDFORDSHIRE
 4                 F  LEIGHTON BUZZARD  CENTRAL BEDFORDSHIRE
 ...             ...               ...                   ...
 1071636           F        NOTTINGHAM               GEDLING
 1071637           F    MELTON MOWBRAY            RUSHCLIFFE
 1071638           F        NOTTINGHAM              BROXTOWE
 1071639           F        NOTTINGHAM               GEDLING
 1071640           F        NOTTINGHAM              ASHFIELD

                        county
 0        CENTRAL BEDFORDSHIRE
 1        CENTRAL BEDFORDSHIRE
 2        CENTRAL BEDFORDSHIRE
 3        CENTRAL BEDFORDSHIRE
 4        CENTRAL BEDFORDSHIRE
 ...                       ...
 1071636       NOTTINGHAMSHIRE
 1071637       NOTTINGHAMSHIRE
 1071638       NOTTINGHAMSHIRE
 1071639       NOTTINGHAMSHIRE
 1071640       NOTTINGHAMSHIRE

 [1071641 rows x 9 columns],
 'df2023':          price  date_of_transfer  postcode property_type new_build_flag  \
 0       125000  2023-10-20 00:00   B44 8BN             T              N
 1       495000  2023-09-29 00:00   B31 2HS             S              N
 2       110000  2023-12-19 00:00   CV1 2AW             T              N
 3       170000  2023-02-27 00:00   B36 0QE             T              N
 4       110000  2023-10-04 00:00   B26 3BN             T              N
 ...        ...               ...       ...           ...            ...
 851966  172500  2023-03-03 00:00   CM8 2AW             F              N
 851967  375000  2023-08-17 00:00   CM8 2DJ             S              N
 851968  610000  2023-08-22 00:00   CO3 3NR             D              N
 851969  525000  2023-07-31 00:00  CM15 9NP             S              N
 851970  326000  2023-07-28 00:00  SS13 1JH             S              N

        tenure_type   town_city    district         county
 0                F  BIRMINGHAM  BIRMINGHAM  WEST MIDLANDS
 1                F  BIRMINGHAM  BIRMINGHAM  WEST MIDLANDS
 2                F    COVENTRY    COVENTRY  WEST MIDLANDS
 3                F  BIRMINGHAM    SOLIHULL  WEST MIDLANDS
 4                F  BIRMINGHAM  BIRMINGHAM  WEST MIDLANDS
 ...            ...         ...         ...            ...
 851966           L      WITHAM   BRAINTREE          ESSEX
 851967           F      WITHAM   BRAINTREE          ESSEX
 851968           F  COLCHESTER  COLCHESTER          ESSEX
 851969           F   BRENTWOOD   BRENTWOOD          ESSEX
 851970           F    BASILDON    BASILDON          ESSEX

 [851971 rows x 9 columns],
 'df2024':          price  date_of_transfer  postcode property_type new_build_flag  \
 0       210000  2024-04-05 00:00  LL55 1DL             S              N
 1       485000  2024-04-19 00:00   SA3 2EQ             D              N
 2       135000  2024-04-15 00:00  NP12 0PR             T              N
 3       120000  2024-03-19 00:00  SA69 9NL             F              N
 4       125000  2024-03-25 00:00  SA12 6UP             S              N
 ...        ...               ...       ...           ...            ...
 820459  300000  2024-02-02 00:00   OX7 5EB             T              N
 820460  640000  2024-07-11 00:00   OX4 4XQ             T              N
 820461  600000  2024-07-19 00:00  OX11 9NX             D              N
 820462  495000  2024-06-19 00:00  OX25 4NE             S              N
 820463  310000  2024-05-07 00:00   OX3 8LX             T              N

        tenure_type        town_city             district             county
 0                F       CAERNARFON              GWYNEDD            GWYNEDD
 1                F          SWANSEA              SWANSEA            SWANSEA
 2                F        BLACKWOOD           CAERPHILLY         CAERPHILLY
 3                L     SAUNDERSFOOT        PEMBROKESHIRE      PEMBROKESHIRE
 4                F      PORT TALBOT    NEATH PORT TALBOT  NEATH PORT TALBOT
 ...            ...              ...                  ...                ...
 820459           F  CHIPPING NORTON     WEST OXFORDSHIRE        OXFORDSHIRE
 820460           F           OXFORD               OXFORD        OXFORDSHIRE
 820461           F           DIDCOT  VALE OF WHITE HORSE        OXFORDSHIRE
 820462           F         BICESTER             CHERWELL        OXFORDSHIRE
 820463           F           OXFORD               OXFORD        OXFORDSHIRE

 [820464 rows x 9 columns],
 'df2025':          price  date_of_transfer  postcode property_type new_build_flag  \
 0       245000  2025-02-28 00:00   HR4 0HH             T              N
 1       270000  2025-02-13 00:00   WR5 3AS             S              N
 2       943000  2025-02-20 00:00   B48 7QA             D              N
 3       303000  2025-02-14 00:00   WR3 7PF             S              N
 4       870000  2025-01-29 00:00   B45 8NX             D              N
 ...        ...               ...       ...           ...            ...
 252142   98000  2025-01-17 00:00   NN4 8SA             F              N
 252143  120000  2025-01-24 00:00  NN16 0SE             F              N
 252144  604500  2025-01-14 00:00  NN10 0NB             O              N
 252145  133650  2025-01-10 00:00   NN4 8TE             F              N
 252146  332000  2025-01-27 00:00  NN15 5YL             D              N

        tenure_type    town_city                district  \
 0                F     HEREFORD           HEREFORDSHIRE
 1                F    WORCESTER               WORCESTER
 2                F   BIRMINGHAM              BROMSGROVE
 3                F    WORCESTER               WORCESTER
 4                F   BIRMINGHAM              BROMSGROVE
 ...            ...          ...                     ...
 252142           L  NORTHAMPTON   WEST NORTHAMPTONSHIRE
 252143           L    KETTERING  NORTH NORTHAMPTONSHIRE
 252144           F      RUSHDEN  NORTH NORTHAMPTONSHIRE
 252145           L  NORTHAMPTON   WEST NORTHAMPTONSHIRE
 252146           F    KETTERING  NORTH NORTHAMPTONSHIRE

                         county
 0                HEREFORDSHIRE
 1               WORCESTERSHIRE
 2               WORCESTERSHIRE
 3               WORCESTERSHIRE
 4               WORCESTERSHIRE
 ...                        ...
 252142   WEST NORTHAMPTONSHIRE
 252143  NORTH NORTHAMPTONSHIRE
 252144  NORTH NORTHAMPTONSHIRE
 252145   WEST NORTHAMPTONSHIRE
 252146  NORTH NORTHAMPTONSHIRE

 [252147 rows x 9 columns]}

In [4]:
df_full = pd.concat(dfs)

In [5]:
df_full['Price (Thousands)'] = df_full['price'] / 1000
df_full.drop(columns=['price'], inplace=True)
df_full.describe()

       Price (Thousands)
count       7.219742e+06
mean        3.818475e+02
std         1.711452e+03
min         1.000000e-03
25%         1.650000e+02
50%         2.600000e+02
75%         4.000000e+02
max         9.000000e+05

In [6]:
df_full.isna().sum()

date_of_transfer         0
postcode             24503
property_type            0
new_build_flag           0
tenure_type              0
town_city                0
district                 0
county                   0
Price (Thousands)        0
dtype: int64

In [22]:
df_clean = df_full.dropna(axis=1)
df_clean.describe()

       Price (Thousands)
count       7.219742e+06
mean        3.818475e+02
std         1.711452e+03
min         1.000000e-03
25%         1.650000e+02
50%         2.600000e+02
75%         4.000000e+02
max         9.000000e+05

In [23]:
df_binary = pd.get_dummies(df_clean, dtype=int, columns=['tenure_type','new_build_flag', 'property_type'])
df_binary.rename(columns={'date_of_transfer':'Transfer Date','town_city':'Town/City','district':'District','county':'County','tenure_type_F':'Freehold Tenure','tenure_type_L':'Leasehold Tenure','new_build_flag_N':'Old Build','new_build_flag_Y':'New Build','property_type_D':'Detached', 'property_type_F':'Flat', 'property_type_O':'Other Property Type','property_type_S':'Semi-detached','property_type_T':'Terraced'}, inplace=True)
df_binary.head()

             Transfer Date          Town/City  District              County  \
df2018 0  2018-09-24 00:00            SALFORD   SALFORD  GREATER MANCHESTER
       1  2018-09-28 00:00         WARRINGTON     WIGAN  GREATER MANCHESTER
       2  2018-08-29 00:00  ASHTON-UNDER-LYNE  TAMESIDE  GREATER MANCHESTER
       3  2018-06-15 00:00         MANCHESTER     WIGAN  GREATER MANCHESTER
       4  2018-09-28 00:00         MANCHESTER   SALFORD  GREATER MANCHESTER

          Price (Thousands)  Freehold Tenure  Leasehold Tenure  Old Build  \
df2018 0            253.500                1                 0          1
       1            231.950                1                 0          0
       2            112.500                1                 0          1
       3            184.995                1                 0          0
       4            214.995                0                 1          0

          New Build  Detached  Flat  Other Property Type  Semi-detached  \
df2018 0          0         1     0                    0              0
       1          1         1     0                    0              0
       2          0         0     0                    0              1
       3          1         0     0                    0              1
       4          1         1     0                    0              0

          Terraced
df2018 0         0
       1         0
       2         0
       3         0
       4         0

In [24]:
df_binary['Transfer Date'] = df_binary['Transfer Date'].astype(str).str[:10]
df_binary.tail()

              Transfer Date    Town/City                District  \
df2025 252142    2025-01-17  NORTHAMPTON   WEST NORTHAMPTONSHIRE
       252143    2025-01-24    KETTERING  NORTH NORTHAMPTONSHIRE
       252144    2025-01-14      RUSHDEN  NORTH NORTHAMPTONSHIRE
       252145    2025-01-10  NORTHAMPTON   WEST NORTHAMPTONSHIRE
       252146    2025-01-27    KETTERING  NORTH NORTHAMPTONSHIRE

                               County  Price (Thousands)  Freehold Tenure  \
df2025 252142   WEST NORTHAMPTONSHIRE              98.00                0
       252143  NORTH NORTHAMPTONSHIRE             120.00                0
       252144  NORTH NORTHAMPTONSHIRE             604.50                1
       252145   WEST NORTHAMPTONSHIRE             133.65                0
       252146  NORTH NORTHAMPTONSHIRE             332.00                1

               Leasehold Tenure  Old Build  New Build  Detached  Flat  \
df2025 252142                 1          1          0         0     1
       252143                 1          1          0         0     1
       252144                 0          1          0         0     0
       252145                 1          1          0         0     1
       252146                 0          1          0         1     0

               Other Property Type  Semi-detached  Terraced
df2025 252142                    0              0         0
       252143                    0              0         0
       252144                    1              0         0
       252145                    0              0         0
       252146                    0              0         0

In [25]:
lower = df_binary['Price (Thousands)'].quantile(0.005)
upper = df_binary['Price (Thousands)'].quantile(0.995)
df_binary = df_binary[(df_binary['Price (Thousands)'] >= lower) & (df_binary['Price (Thousands)'] <= upper)]
df_binary.describe()

,Price (Thousands),Freehold Tenure,Leasehold Tenure,Old Build,New Build,Detached,Flat,Other Property Type,Semi-detached,Terraced
count,7.147613e+06,7.147613e+06,7.147613e+06,7.147613e+06,7.147613e+06,7.147613e+06,7.147613e+06,7.147613e+06,7.147613e+06,7.147613e+06
mean,3.298730e+02,7.680538e-01,2.319462e-01,8.883434e-01,1.116566e-01,2.332777e-01,1.775309e-01,4.977704e-02,2.673146e-01,2.720998e-01
std,2.809675e+02,4.220749e-01,4.220749e-01,3.149435e-01,3.149435e-01,4.229176e-01,3.821174e-01,2.174840e-01,4.425579e-01,4.450410e-01
min,1.289500e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.650000e+02,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.600000e+02,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,3.999500e+02,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00
max,3.075000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [27]:
df_binary.to_csv('ETL_Final.csv', index=False)