In [1]:
import pandas as pd

df = pd.read_csv('EPC_Fin.csv')
df.shape

(4818234, 49)

In [2]:
int = pd.read_csv('Interest.csv')
inf = pd.read_csv('Inflation.csv')
une = pd.read_csv('Unemployment.csv')

In [3]:
une.tail()

        Title Unemployment rate (aged 16 and over, seasonally adjusted): %
924  2024 DEC                                                4.4
925  2025 JAN                                                4.4
926  2025 FEB                                                4.5
927  2025 MAR                                                4.6
928  2025 APR                                                4.7

In [4]:
change = {
    1:'JAN',
    2:'FEB',
    3:'MAR',
    4:'APR',
    5:'MAY',
    6:'JUN',
    7:'JUL',
    8:'AUG',
    9:'SEP',
    10:'OCT',
    11:'NOV',
    12:'DEC',
}

df['MON'] = df['Month'].map(change)
df['Year_Mon'] = df['Year'].astype(str) + ' ' + df['MON']

df['Year_Mon'].head()

0    2021 JAN
1    2019 SEP
2    2024 AUG
3    2024 NOV
4    2019 MAR
Name: Year_Mon, dtype: object

In [5]:
df.rename(columns={'Year_Mon': 'Title'}, inplace=True)
df.head()

,Current Energy Efficiency (EPC Score),Potential Energy Efficiency (EPC Score),Total Floor Area (m²),Has Mains Gas,Main Heating Controls,Proportion of Multi-Glazing (%),Number of Extensions,Number of Habitable Rooms,Number of Heated Rooms,Low Energy Lighting (%),...,Town/City Average Price (Thousands),District Average Price (Thousands),County Average Price (Thousands),LAT,LONG,OSEAST1M,OSNRTH1M,CONSTRUCTION_AGE_BAND_ENCODED,MON,Title
0,61,85,110.0,1,2104.0,100.0,0.0,6.0,6.0,100.0,...,140.319098,154.865891,154.865891,54.69461,-1.224648,450074.0,533561.0,2.0,JAN,2021 JAN
1,65,79,144.0,1,2106.0,100.0,2.0,6.0,6.0,100.0,...,140.319098,154.865891,154.865891,54.66745,-1.190062,452338.0,530564.0,4.0,SEP,2019 SEP
2,56,77,127.0,1,2106.0,100.0,1.0,5.0,4.0,0.0,...,140.319098,154.865891,154.865891,54.68615,-1.223987,450127.0,532619.0,1.0,AUG,2024 AUG
3,57,90,68.0,1,2102.0,100.0,1.0,4.0,4.0,0.0,...,140.319098,154.865891,154.865891,54.68813,-1.227470,449900.0,532838.0,1.0,NOV,2024 NOV
4,70,85,75.0,1,2106.0,100.0,0.0,4.0,4.0,67.0,...,140.319098,154.865891,154.865891,54.65464,-1.241358,449045.0,529101.0,4.0,MAR,2019 MAR

In [6]:
mer1 = df.merge(une, on='Title', how='left')

In [7]:
mer1['Unemployment rate (aged 16 and over, seasonally adjusted): %'].value_counts()

Unemployment rate (aged 16 and over, seasonally adjusted): %
3.9    738958
4.0    586896
3.8    508133
4.1    490502
4.2    482982
4.4    380732
4.3    343351
4.6    215361
5.2    197191
3.7    185214
4.8    144916
3.6    121722
5.0    103215
4.5     76716
5.3     67389
4.7     66571
4.9     65992
Name: count, dtype: int64

In [8]:
inf.tail()

        Title CPIH ANNUAL RATE 00: ALL ITEMS 2015=100
622  2025 FEB                                     3.7
623  2025 MAR                                     3.4
624  2025 APR                                     4.1
625  2025 MAY                                     4.0
626  2025 JUN                                     4.1

In [9]:
mer2 = mer1.merge(inf, on='Title', how='left')
mer2.head()

,Current Energy Efficiency (EPC Score),Potential Energy Efficiency (EPC Score),Total Floor Area (m²),Has Mains Gas,Main Heating Controls,Proportion of Multi-Glazing (%),Number of Extensions,Number of Habitable Rooms,Number of Heated Rooms,Low Energy Lighting (%),...,County Average Price (Thousands),LAT,LONG,OSEAST1M,OSNRTH1M,CONSTRUCTION_AGE_BAND_ENCODED,MON,Title,"Unemployment rate (aged 16 and over, seasonally adjusted): %",CPIH ANNUAL RATE 00: ALL ITEMS 2015=100
0,61,85,110.0,1,2104.0,100.0,0.0,6.0,6.0,100.0,...,154.865891,54.69461,-1.224648,450074.0,533561.0,2.0,JAN,2021 JAN,5.0,0.9
1,65,79,144.0,1,2106.0,100.0,2.0,6.0,6.0,100.0,...,154.865891,54.66745,-1.190062,452338.0,530564.0,4.0,SEP,2019 SEP,3.8,1.7
2,56,77,127.0,1,2106.0,100.0,1.0,5.0,4.0,0.0,...,154.865891,54.68615,-1.223987,450127.0,532619.0,1.0,AUG,2024 AUG,4.3,3.1
3,57,90,68.0,1,2102.0,100.0,1.0,4.0,4.0,0.0,...,154.865891,54.68813,-1.227470,449900.0,532838.0,1.0,NOV,2024 NOV,4.4,3.5
4,70,85,75.0,1,2106.0,100.0,0.0,4.0,4.0,67.0,...,154.865891,54.65464,-1.241358,449045.0,529101.0,4.0,MAR,2019 MAR,3.8,1.8

In [10]:
int.head()

  Date Changed  Rate
0    08 May 25  4.25
1    06 Feb 25  4.50
2    07 Nov 24  4.75
3    01 Aug 24  5.00
4    03 Aug 23  5.25

In [11]:
df_int = pd.read_csv('Full_Date.csv')

In [12]:
df_int.drop(columns=['postcode_clean','match_key','County','Postcode Area','Postcode District'], inplace=True)
df_int.head()

,Transfer Date,Price (Thousands),Freehold Tenure,Leasehold Tenure,Old Build,New Build,Detached,Flat,Other Property Type,Semi-detached,...,Quarter,Day of the Week,Area Code Average Price (Thousands),Town/City Average Price (Thousands),District Average Price (Thousands),County Average Price (Thousands),LAT,LONG,OSEAST1M,OSNRTH1M
0,2018-09-24,253.500,1,0,1,0,1,0,0,0,...,3,0,286.373466,274.417259,259.866315,264.161265,53.49295,-2.311376,379439.0,399626.0
1,2018-09-28,231.950,1,0,0,1,1,0,0,0,...,3,4,301.647233,295.472854,194.319863,264.161265,53.46955,-2.583977,361332.0,397136.0
2,2018-08-29,112.500,1,0,1,0,0,0,0,1,...,3,2,197.639388,184.326053,196.955406,264.161265,53.48984,-2.074338,395165.0,399237.0
3,2018-06-15,184.995,1,0,0,1,0,0,0,1,...,2,4,286.373466,288.415706,194.319863,264.161265,53.52589,-2.495181,367270.0,403360.0
4,2018-09-28,214.995,0,1,0,1,1,0,0,0,...,3,4,286.373466,288.415706,259.866315,264.161265,53.51677,-2.411523,372810.0,402310.0

In [13]:
df.head()

,Current Energy Efficiency (EPC Score),Potential Energy Efficiency (EPC Score),Total Floor Area (m²),Has Mains Gas,Main Heating Controls,Proportion of Multi-Glazing (%),Number of Extensions,Number of Habitable Rooms,Number of Heated Rooms,Low Energy Lighting (%),...,Town/City Average Price (Thousands),District Average Price (Thousands),County Average Price (Thousands),LAT,LONG,OSEAST1M,OSNRTH1M,CONSTRUCTION_AGE_BAND_ENCODED,MON,Title
0,61,85,110.0,1,2104.0,100.0,0.0,6.0,6.0,100.0,...,140.319098,154.865891,154.865891,54.69461,-1.224648,450074.0,533561.0,2.0,JAN,2021 JAN
1,65,79,144.0,1,2106.0,100.0,2.0,6.0,6.0,100.0,...,140.319098,154.865891,154.865891,54.66745,-1.190062,452338.0,530564.0,4.0,SEP,2019 SEP
2,56,77,127.0,1,2106.0,100.0,1.0,5.0,4.0,0.0,...,140.319098,154.865891,154.865891,54.68615,-1.223987,450127.0,532619.0,1.0,AUG,2024 AUG
3,57,90,68.0,1,2102.0,100.0,1.0,4.0,4.0,0.0,...,140.319098,154.865891,154.865891,54.68813,-1.227470,449900.0,532838.0,1.0,NOV,2024 NOV
4,70,85,75.0,1,2106.0,100.0,0.0,4.0,4.0,67.0,...,140.319098,154.865891,154.865891,54.65464,-1.241358,449045.0,529101.0,4.0,MAR,2019 MAR

In [14]:
day_df = mer2.merge(df_int, on=['Price (Thousands)', 'Freehold Tenure', 'Leasehold Tenure', 'Old Build',
       'New Build', 'Detached', 'Flat', 'Other Property Type', 'Semi-detached',
       'Terraced', 'Year', 'Month', 'Quarter', 'Day of the Week',
       'Area Code Average Price (Thousands)',
       'Town/City Average Price (Thousands)',
       'District Average Price (Thousands)',
       'County Average Price (Thousands)', 'LAT', 'LONG', 'OSEAST1M',
       'OSNRTH1M'], how="left")

In [15]:
day_df.head()

,Current Energy Efficiency (EPC Score),Potential Energy Efficiency (EPC Score),Total Floor Area (m²),Has Mains Gas,Main Heating Controls,Proportion of Multi-Glazing (%),Number of Extensions,Number of Habitable Rooms,Number of Heated Rooms,Low Energy Lighting (%),...,LAT,LONG,OSEAST1M,OSNRTH1M,CONSTRUCTION_AGE_BAND_ENCODED,MON,Title,"Unemployment rate (aged 16 and over, seasonally adjusted): %",CPIH ANNUAL RATE 00: ALL ITEMS 2015=100,Transfer Date
0,61,85,110.0,1,2104.0,100.0,0.0,6.0,6.0,100.0,...,54.69461,-1.224648,450074.0,533561.0,2.0,JAN,2021 JAN,5.0,0.9,2021-01-08
1,65,79,144.0,1,2106.0,100.0,2.0,6.0,6.0,100.0,...,54.66745,-1.190062,452338.0,530564.0,4.0,SEP,2019 SEP,3.8,1.7,2019-09-03
2,56,77,127.0,1,2106.0,100.0,1.0,5.0,4.0,0.0,...,54.68615,-1.223987,450127.0,532619.0,1.0,AUG,2024 AUG,4.3,3.1,2024-08-16
3,57,90,68.0,1,2102.0,100.0,1.0,4.0,4.0,0.0,...,54.68813,-1.227470,449900.0,532838.0,1.0,NOV,2024 NOV,4.4,3.5,2024-11-15
4,70,85,75.0,1,2106.0,100.0,0.0,4.0,4.0,67.0,...,54.65464,-1.241358,449045.0,529101.0,4.0,MAR,2019 MAR,3.8,1.8,2019-03-15

In [16]:
day_df[['Year', 'Month', 'Day']] = day_df["Transfer Date"].str.split('-', expand=True)

In [17]:
day_df.head()

,Current Energy Efficiency (EPC Score),Potential Energy Efficiency (EPC Score),Total Floor Area (m²),Has Mains Gas,Main Heating Controls,Proportion of Multi-Glazing (%),Number of Extensions,Number of Habitable Rooms,Number of Heated Rooms,Low Energy Lighting (%),...,LONG,OSEAST1M,OSNRTH1M,CONSTRUCTION_AGE_BAND_ENCODED,MON,Title,"Unemployment rate (aged 16 and over, seasonally adjusted): %",CPIH ANNUAL RATE 00: ALL ITEMS 2015=100,Transfer Date,Day
0,61,85,110.0,1,2104.0,100.0,0.0,6.0,6.0,100.0,...,-1.224648,450074.0,533561.0,2.0,JAN,2021 JAN,5.0,0.9,2021-01-08,08
1,65,79,144.0,1,2106.0,100.0,2.0,6.0,6.0,100.0,...,-1.190062,452338.0,530564.0,4.0,SEP,2019 SEP,3.8,1.7,2019-09-03,03
2,56,77,127.0,1,2106.0,100.0,1.0,5.0,4.0,0.0,...,-1.223987,450127.0,532619.0,1.0,AUG,2024 AUG,4.3,3.1,2024-08-16,16
3,57,90,68.0,1,2102.0,100.0,1.0,4.0,4.0,0.0,...,-1.227470,449900.0,532838.0,1.0,NOV,2024 NOV,4.4,3.5,2024-11-15,15
4,70,85,75.0,1,2106.0,100.0,0.0,4.0,4.0,67.0,...,-1.241358,449045.0,529101.0,4.0,MAR,2019 MAR,3.8,1.8,2019-03-15,15

In [18]:
save = day_df
save.shape

(4857853, 55)

In [19]:
int.head()

  Date Changed  Rate
0    08 May 25  4.25
1    06 Feb 25  4.50
2    07 Nov 24  4.75
3    01 Aug 24  5.00
4    03 Aug 23  5.25

In [20]:
day_df['MON'] = day_df['MON'].str.lower()
day_df['MON'] = day_df['MON'].str.capitalize()

In [22]:
day_df.rename(columns={'Transfer Date': 'Date'}, inplace=True)

In [23]:
day_df.head()

,Current Energy Efficiency (EPC Score),Potential Energy Efficiency (EPC Score),Total Floor Area (m²),Has Mains Gas,Main Heating Controls,Proportion of Multi-Glazing (%),Number of Extensions,Number of Habitable Rooms,Number of Heated Rooms,Low Energy Lighting (%),...,LONG,OSEAST1M,OSNRTH1M,CONSTRUCTION_AGE_BAND_ENCODED,MON,Title,"Unemployment rate (aged 16 and over, seasonally adjusted): %",CPIH ANNUAL RATE 00: ALL ITEMS 2015=100,Date,Day
0,61,85,110.0,1,2104.0,100.0,0.0,6.0,6.0,100.0,...,-1.224648,450074.0,533561.0,2.0,Jan,2021 JAN,5.0,0.9,2021-01-08,08
1,65,79,144.0,1,2106.0,100.0,2.0,6.0,6.0,100.0,...,-1.190062,452338.0,530564.0,4.0,Sep,2019 SEP,3.8,1.7,2019-09-03,03
2,56,77,127.0,1,2106.0,100.0,1.0,5.0,4.0,0.0,...,-1.223987,450127.0,532619.0,1.0,Aug,2024 AUG,4.3,3.1,2024-08-16,16
3,57,90,68.0,1,2102.0,100.0,1.0,4.0,4.0,0.0,...,-1.227470,449900.0,532838.0,1.0,Nov,2024 NOV,4.4,3.5,2024-11-15,15
4,70,85,75.0,1,2106.0,100.0,0.0,4.0,4.0,67.0,...,-1.241358,449045.0,529101.0,4.0,Mar,2019 MAR,3.8,1.8,2019-03-15,15

In [26]:
int.rename(columns={'Date Changed': 'Date'}, inplace=True)

In [36]:
day_df1['Date'] = pd.to_datetime(day_df1['Date'])
int['Date'] = pd.to_datetime(int['Date'])

In [40]:
day_df = day_df.sort_values('Date')
int = int.sort_values('Date')

In [28]:
day_df1 = day_df.dropna(subset=['Date'])

In [41]:
day_df1.shape

(4857853, 55)

In [42]:
mer3 = pd.merge_asof(
    day_df1,
    int,
    on='Date',
    direction='backward'
)

In [43]:
mer3.head()

,Current Energy Efficiency (EPC Score),Potential Energy Efficiency (EPC Score),Total Floor Area (m²),Has Mains Gas,Main Heating Controls,Proportion of Multi-Glazing (%),Number of Extensions,Number of Habitable Rooms,Number of Heated Rooms,Low Energy Lighting (%),...,OSEAST1M,OSNRTH1M,CONSTRUCTION_AGE_BAND_ENCODED,MON,Title,"Unemployment rate (aged 16 and over, seasonally adjusted): %",CPIH ANNUAL RATE 00: ALL ITEMS 2015=100,Date,Day,Rate
0,67,81,114.00,1,2106.0,100.0,0.0,7.0,7.0,67.0,...,532451.0,155853.0,8.0,Jan,2018 JAN,4.2,2.7,2018-01-01,01,0.5
1,56,75,73.00,1,2106.0,100.0,0.0,3.0,3.0,38.0,...,330930.0,190369.0,3.0,Jan,2018 JAN,4.2,2.7,2018-01-01,01,0.5
2,73,78,70.68,1,2106.0,100.0,0.0,4.0,4.0,36.0,...,247966.0,58526.0,8.0,Jan,2018 JAN,4.2,2.7,2018-01-01,01,0.5
3,69,82,164.00,1,2106.0,100.0,3.0,3.0,3.0,56.0,...,533213.0,156884.0,2.0,Jan,2018 JAN,4.2,2.7,2018-01-01,01,0.5
4,72,84,111.00,1,2106.0,100.0,2.0,6.0,6.0,100.0,...,436948.0,552153.0,4.0,Jan,2018 JAN,4.2,2.7,2018-01-01,01,0.5

In [44]:
mer3.rename(columns={'Unemployment rate (aged 16 and over, seasonally adjusted): %': 'Unemployment rate (%)','CPIH ANNUAL RATE 00: ALL ITEMS 2015=100':'Inflation rate (%)','Rate':'Interest rate (%)'}, inplace=True)
mer3.head()

,Current Energy Efficiency (EPC Score),Potential Energy Efficiency (EPC Score),Total Floor Area (m²),Has Mains Gas,Main Heating Controls,Proportion of Multi-Glazing (%),Number of Extensions,Number of Habitable Rooms,Number of Heated Rooms,Low Energy Lighting (%),...,OSEAST1M,OSNRTH1M,CONSTRUCTION_AGE_BAND_ENCODED,MON,Title,Unemployment rate (%),Inflation rate (%),Date,Day,Interest rate (%)
0,67,81,114.00,1,2106.0,100.0,0.0,7.0,7.0,67.0,...,532451.0,155853.0,8.0,Jan,2018 JAN,4.2,2.7,2018-01-01,01,0.5
1,56,75,73.00,1,2106.0,100.0,0.0,3.0,3.0,38.0,...,330930.0,190369.0,3.0,Jan,2018 JAN,4.2,2.7,2018-01-01,01,0.5
2,73,78,70.68,1,2106.0,100.0,0.0,4.0,4.0,36.0,...,247966.0,58526.0,8.0,Jan,2018 JAN,4.2,2.7,2018-01-01,01,0.5
3,69,82,164.00,1,2106.0,100.0,3.0,3.0,3.0,56.0,...,533213.0,156884.0,2.0,Jan,2018 JAN,4.2,2.7,2018-01-01,01,0.5
4,72,84,111.00,1,2106.0,100.0,2.0,6.0,6.0,100.0,...,436948.0,552153.0,4.0,Jan,2018 JAN,4.2,2.7,2018-01-01,01,0.5

In [45]:
mer3.columns

Index(['Current Energy Efficiency (EPC Score)',
       'Potential Energy Efficiency (EPC Score)', 'Total Floor Area (m²)',
       'Has Mains Gas', 'Main Heating Controls',
       'Proportion of Multi-Glazing (%)', 'Number of Extensions',
       'Number of Habitable Rooms', 'Number of Heated Rooms',
       'Low Energy Lighting (%)', 'Number of Open Fireplaces',
       'Hot Water Energy Efficiency', 'Windows Energy Efficiency',
       'Windows Environmental Impact', 'Walls Energy Efficiency',
       'Roof Energy Efficiency', 'Roof Environmental Impact',
       'Main Heating Energy Efficiency', 'Main Heating Environmental Impact',
       'Main Heating Controls Energy Efficiency',
       'Main Heating Controls Environmental Impact',
       'Lighting Energy Efficiency', 'Lighting Environmental Impact',
       'Number of Wind Turbines', 'Floor Height (m)',
       'Has Solar Water Heating', 'Price (Thousands)', 'Freehold Tenure',
       'Leasehold Tenure', 'Old Build', 'New Build', 'Detached', 'Flat',
       'Other Property Type', 'Semi-detached', 'Terraced', 'Year', 'Month',
       'Quarter', 'Day of the Week', 'Area Code Average Price (Thousands)',
       'Town/City Average Price (Thousands)',
       'District Average Price (Thousands)',
       'County Average Price (Thousands)', 'LAT', 'LONG', 'OSEAST1M',
       'OSNRTH1M', 'CONSTRUCTION_AGE_BAND_ENCODED', 'MON', 'Title',
       'Unemployment rate (%)', 'Inflation rate (%)', 'Date', 'Day',
       'Interest rate (%)'],
      dtype='object')

In [47]:
mer3.drop(columns=['MON','Title','Day'])

,Current Energy Efficiency (EPC Score),Potential Energy Efficiency (EPC Score),Total Floor Area (m²),Has Mains Gas,Main Heating Controls,Proportion of Multi-Glazing (%),Number of Extensions,Number of Habitable Rooms,Number of Heated Rooms,Low Energy Lighting (%),...,County Average Price (Thousands),LAT,LONG,OSEAST1M,OSNRTH1M,CONSTRUCTION_AGE_BAND_ENCODED,Unemployment rate (%),Inflation rate (%),Date,Interest rate (%)
0,67,81,114.00,1,2106.0,100.0,0.0,7.0,7.0,67.0,...,645.455468,51.28642,-0.102036,532451.0,155853.0,8.0,4.2,2.7,2018-01-01,0.50
1,56,75,73.00,1,2106.0,100.0,0.0,3.0,3.0,38.0,...,240.143335,51.60790,-2.998804,330930.0,190369.0,3.0,4.2,2.7,2018-01-01,0.50
2,73,78,70.68,1,2106.0,100.0,0.0,4.0,4.0,36.0,...,230.722625,50.40687,-4.140917,247966.0,58526.0,8.0,4.2,2.7,2018-01-01,0.50
3,69,82,164.00,1,2106.0,100.0,3.0,3.0,3.0,56.0,...,645.455468,51.29551,-0.090731,533213.0,156884.0,2.0,4.2,2.7,2018-01-01,0.50
4,72,84,111.00,1,2106.0,100.0,2.0,6.0,6.0,100.0,...,214.225080,54.86281,-1.425920,436948.0,552153.0,4.0,4.2,2.7,2018-01-01,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4857848,66,84,104.00,1,2504.0,95.0,0.0,7.0,7.0,60.0,...,435.889786,51.00667,-0.922634,475684.0,123584.0,5.0,NaN,4.1,2025-06-30,4.25
4857849,68,89,34.00,1,2104.0,0.0,0.0,2.0,2.0,50.0,...,426.506721,52.21919,0.144312,546579.0,260051.0,6.0,NaN,4.1,2025-06-30,4.25
4857850,62,84,129.00,1,2106.0,100.0,1.0,6.0,6.0,100.0,...,261.571613,53.32792,-0.952901,469836.0,381731.0,1.0,NaN,4.1,2025-06-30,4.25
4857851,70,85,68.00,1,2106.0,100.0,1.0,3.0,3.0,88.0,...,373.369199,51.42871,-2.224089,384517.0,169991.0,4.0,NaN,4.1,2025-06-30,4.25
4857852,69,89,38.00,1,2106.0,100.0,0.0,2.0,2.0,100.0,...,823.640966,51.52534,-0.386363,512040.0,181948.0,6.0,NaN,4.1,2025-06-30,4.25

In [49]:
mer3.drop(columns=['Day','Date','Title','MON'])

,Current Energy Efficiency (EPC Score),Potential Energy Efficiency (EPC Score),Total Floor Area (m²),Has Mains Gas,Main Heating Controls,Proportion of Multi-Glazing (%),Number of Extensions,Number of Habitable Rooms,Number of Heated Rooms,Low Energy Lighting (%),...,District Average Price (Thousands),County Average Price (Thousands),LAT,LONG,OSEAST1M,OSNRTH1M,CONSTRUCTION_AGE_BAND_ENCODED,Unemployment rate (%),Inflation rate (%),Interest rate (%)
0,67,81,114.00,1,2106.0,100.0,0.0,7.0,7.0,67.0,...,568.433804,645.455468,51.28642,-0.102036,532451.0,155853.0,8.0,4.2,2.7,0.50
1,56,75,73.00,1,2106.0,100.0,0.0,3.0,3.0,38.0,...,240.143335,240.143335,51.60790,-2.998804,330930.0,190369.0,3.0,4.2,2.7,0.50
2,73,78,70.68,1,2106.0,100.0,0.0,4.0,4.0,36.0,...,230.722625,230.722625,50.40687,-4.140917,247966.0,58526.0,8.0,4.2,2.7,0.50
3,69,82,164.00,1,2106.0,100.0,3.0,3.0,3.0,56.0,...,568.433804,645.455468,51.29551,-0.090731,533213.0,156884.0,2.0,4.2,2.7,0.50
4,72,84,111.00,1,2106.0,100.0,2.0,6.0,6.0,100.0,...,177.625737,214.225080,54.86281,-1.425920,436948.0,552153.0,4.0,4.2,2.7,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4857848,66,84,104.00,1,2504.0,95.0,0.0,7.0,7.0,60.0,...,499.967530,435.889786,51.00667,-0.922634,475684.0,123584.0,5.0,NaN,4.1,4.25
4857849,68,89,34.00,1,2104.0,0.0,0.0,2.0,2.0,50.0,...,694.836604,426.506721,52.21919,0.144312,546579.0,260051.0,6.0,NaN,4.1,4.25
4857850,62,84,129.00,1,2106.0,100.0,1.0,6.0,6.0,100.0,...,252.970479,261.571613,53.32792,-0.952901,469836.0,381731.0,1.0,NaN,4.1,4.25
4857851,70,85,68.00,1,2106.0,100.0,1.0,3.0,3.0,88.0,...,373.369199,373.369199,51.42871,-2.224089,384517.0,169991.0,4.0,NaN,4.1,4.25
4857852,69,89,38.00,1,2106.0,100.0,0.0,2.0,2.0,100.0,...,602.762672,823.640966,51.52534,-0.386363,512040.0,181948.0,6.0,NaN,4.1,4.25

In [50]:
mer3.to_csv('FFE_Final.csv', index=False)